/* Logo principal de la clinica*/
.logo-veterinaria {
  height: 80px;
  width: 80px;
  object-fit: contain;
}


/*Footer */
.footer-sitio {
  background-color: #1a2f2b;
  color: #e0ece8;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.footer-sitio h2 {
  color: #ffffff;
}

.footer-sitio p {
  color: #e2e8f0;
  font-size: 0.95rem;
}
